.landing .nav{
    margin:3%;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
    align-items: center;
    list-style: none;

    font-size: 1.2rem;
}
.landing > h1{
    margin-top: 1rem;
    font-size: 5rem;
    text-align: center;
    color: var(--primary);
}