.fitness_main{
    background-image:url(../../assets/blob1.png);
    background-color:var(--primary-dark);
    background-repeat: repeat;
    position: relative;
    background-size: 100% 100%;
    height: 100vh;
    
}

.fitness_main .heading::before{
    position: absolute;
    left:-1rem;
    content: '';
    display: block;
    width:.4rem;
    height: 3rem;
    background: var(--primary);
}



.fitness_main .heading_2{
    
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    margin-bottom: 1rem;
}


.fitness_main .b1{
    background-color:var(--dark);
    border: none;
    color: white;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

.fitness_main .button{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1rem;
    
}

.fitness_main .cc{
    display: flex;
    flex-direction: row;
}

.fitness_main .container{
    
    position: absolute;
    top: 5rem;
    left: 5rem;
    width: 83rem;
    font-size: clamp(0rem, 80%, 2rem);
}

.fitness_main .info_1{    
    margin-bottom: 1rem;
}

.fitness_main .info{
    position: absolute;
    top: 4rem;
    left: 1rem;
}