*{
    box-sizing: border-box;
}
.bmi{
    min-height: 100vh;
    width:100%;
    padding-top:5rem;
    padding-left:3%;
    padding-right:3%;
    background-color: var(--primary-dark);
    background-image: url('../../assets/blob1.png');
    background-size: cover;
    z-index: -1;

}
.bmi .hdng{
    display: flex;
    align-items: center;
     
}

.bmi .hdng span{
    height:4vw;
    width:0.78vw;
    
    
    background-color: var(--primary);
}

.bmi .hdng h3{
     
    font-size: clamp(1.5rem,2rem,3rem);
     
    padding:0 1rem;
}

.bmi .section{
    --itemWidth:min(8.5vw,9rem);
    --itemhw:min(3.9rem,4.5vw);
    --value:min(2rem,2vw);
    --font:clamp(1rem,1vw,1.5rem);
     
    display:flex;
    align-items: centre;
    justify-content: center;
    padding:1rem 0;
    gap:1rem;
    flex-wrap: wrap;
    flex-direction: row;
}



.bmi .section .itemt1{
    position: relative;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    gap:1rem;
    width:var(--itemWidth);
    height:var(--itemWidth);
    background-color: var(--light);
     
    border-radius: 0.2rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}






 

.bmi .section .itemt1 h4{
    font-size:  var(--font);
    min-width:var(--value);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.2rem;
    background-color:var(--secondary-light);

     
    padding:0.2rem 0.2rem;
}

.bmi .section .itemt1 select{
    border:0;
    outline: none;
    margin: 0.5rem 1rem;
}
 .bmi .section .itemt2{
    --font2:clamp(1rem,1.3vw,1.5rem);
    width:calc(2*var(--itemWidth));
    height:var(--itemWidth);
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1rem;
    flex-direction: column;
    
     
     
     
 }

.bmi .section .itemt2 .item1{
    width:100%;
    height:calc(3/4*(var(--itemWidth)));
     
    font-weight: 300;

    
    display: flex;
    align-items: center;
    justify-content:center;
     
    border-radius: 0.2rem;
    background-color: var(--light);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    
}

.bmi .section .itemt2 .item2{
    width:100%;
    height:calc(3/4*(var(--itemWidth)));
    display: flex;
    align-items: center;
    justify-content:flex-start;
     
    background-color:  var(--light);
     
    border-radius: 0.2rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}

  

.bmi .section .itemt2 .item2 .h{
    flex:1;
    height:100%;
    width: max-content;
    background-color:var( --secondary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font2);

     
     
    font-weight: 600;
    border-radius: 0.2rem 0 0 0.2rem;
}

.bmi .section .itemt2 .item2 .v{
    flex:2;
     
    width: max-content;
    font-size: clamp(1rem,1vw,1.5rem);
    text-align: center;
}



.bmi .section .itemt2 .item1 h3 {
    margin:0 0.5rem;
     
    font-weight: 600;
    font-size: var(--font2);
}



.bmi .section .itemt2 .item1 .v {
    min-height: var(--value);
    min-width: var(--value);
     
    font-size:  var(--font2);
     
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: var(--secondary-light);
    border-radius: 50%;



}

 

.bmi .section .itemt3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0.5rem;
    
}

.bmi .section .itemt3 div{
    height: var(--itemhw);
    width: var(--itemhw);
    display: flex;
    align-items: center;
    justify-content: center;
     
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    
}

.bmi .section .itemt3 div i{
    font-size: clamp(1rem,1.6vw,1.5rem);
}


.bmi .section1{
    --size:min(4.37rem,3vw);
    --arrow:min(1rem,0.8vw);
    min-height: 45vh;
     
    display:grid;
     
   
    grid-template-columns:0.5fr 3.2fr 0.5fr 2fr 0.5fr;
    grid-template-rows: auto;
    grid-column-gap: min(2rem,5%);
    
    padding-bottom: 2%;
    
     
    margin-top:3.5%;
    
    
    
}

.bmi .section1 .L{
     grid-column: 2/3;
     grid-row: 1/2;
     display: flex;
     align-items: center;
     justify-content: center;
    
}

 
.bmi .section1 .Lcon h3{
    
    font-weight: 400;
    font-size:clamp(1.5rem,3.2vw,3.8rem);
    margin:1rem 0;
}

.bmi .section1 .Lcon h4{
    
    font-weight: 350;
    font-size:  clamp(1.2rem,2.5vw,3rem);
    margin: 1rem 0;

}

.bmi .section1 .Lcon button{
     
    background:var(--dark);
    color: white;
    padding: 0.5rem 3%;
    font-size:  clamp(1.2rem,2vw,3rem);
    border-radius: 0.5rem;
    outline: none;
    margin:0.5rem 0;
    border: 0px;

}

.bmi .section1 .Rcon h4{
     
    font-size:clamp(1.2rem,2vw,2.5rem);
    font-weight: 300;
}

.bmi .section1 .Lcon h5{
    
    font-size: clamp(1rem,2vw,2.5rem);
    margin: 1rem 0;
    font-weight: 300;
}

.bmi .section1 .R{
    grid-column: 4/5;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bmi .section1 .Rcon{
  
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    gap:1rem;
    
}

.bmi .section1 .Rcon .idl{
     
    height: var(--size);
    display: flex;
    gap:1.5rem;
    align-items: center;


}

.bmi .section1 .Rcon .idl .round{
    width: var(--size);
    height:100% ;
     
    font-weight: 700;
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
     
    background-color: var(--light);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    
}

.bmi .section1 .Rcon .idl .round span{
    font-size:clamp(1rem,1.6vw,1.5rem);
}

.bmi .section1 .Rcon .idl .wgts{
    height:100%;
    width: max-content;
    font-size:  clamp(1rem,2vw,2.5rem);
    position: relative;
    
    display: flex;
    align-items: center;
    background-color: var(--light);
    padding: 0 0.5rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}

.bmi .section1 .Rcon .idl .wgts:before{
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border-top:var(--arrow) solid transparent;
    border-left: var(--arrow) solid transparent;
    border-right: var(--arrow) solid white; 
    border-bottom: var(--arrow) solid transparent;
    right:100%;
     

    

}


@media screen and (max-width: 1300px) and (min-width:1000px)
 {
     .bmi .section{
         --itemWidth:7rem;
         --itemhw:min(2.6rem,4.5vw);
         --value:1.4rem;
     }

     .bmi .section1 {
         --size:2.6rem;
     }
}

@media screen and (max-width:999px)
{
    .bmi .section {
        --itemWidth:6.6rem;
        --itemhw:2.2rem;
         --value:1.4rem;
    }

    .bmi .hdng span{
        height: 2.75rem;
        width:0.5rem;
    }

    .bmi .section1 {
        --size:2.3rem;
        --arrow:0.5rem;
    }
}

@media screen and (max-width:700px){
    .bmi .section1{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:1rem;
    }

    .bmi .section1 .L{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .bmi .section1 .R{
        grid-column: 1/2;
        grid-row:2/3
    }

    
}




 


