:root{

  /* COLOR PALLETS */
  --primary:hsl(40, 100%, 55%);
  --primary-light:hsl(43, 100%, 79%);
  --dark:hsl(258, 80%, 10%);
  --secondary-light:hsl(169, 38%, 80%);

  /* fonts */
  font-family: 'open sans';

}

*{
  margin:0;
  padding:0;
}